<div class="row" style="padding-top: 30px;">
  <div class="col-md-12" style="padding-left: 0;">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs" style="height: 700px;">
        <li class="active"><a href="#a" data-toggle="tab">Tools</a></li>
        <% if(projects){ %>
          <% if(projects == true || projects == 'true'){ %>
            <li id="projects"><a href="#b" data-toggle="tab">Projects</a></li>
          <% } %>
        <% } %>
        <% if(users){ %>
          <% if(users == true || users == 'true'){ %>
            <li id="users"><a href="#c" data-toggle="tab">Users</a></li>
          <% } %>
        <% } %>
        <li id="docs"><a href="#d" data-toggle="tab">Docs</a></li>
        <div style="height: 100px;width: 80px;text-align: center;font-size: 11px; font-weight: bold; padding: 5px 5px 0px 5px;border: 1px solid #CCC;margin-top: 50px;">
          <p>Trial  expires in 12 days.</p>
          <p style="margin-bottom: 0px;"><a href="#">Rellocate</a> your FORJ.</p>
        </div>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="a">
          <div class="col-md-10 category" style="padding: 8px 15px;margin-bottom: 20px;list-style: none;background-color: #f5f5f5;border-radius: 4px;"><a>Services</a></div>
          <div class="col-md-10">
          <% if(tools !== undefined && tools !== null){ %>
            <% tools.forEach(function(tool)  { %>
              <%if(tool.category == 'dev'){%>
              <div class="col-sm-4">
                <div style="width: 100%;margin-bottom:10px; border:1px solid #CCC; min-height: 70px; position: relative">
                <%if(tool.icon){%>
                  <% if(tool.icon === 'true'){ %>
                    <div style="float: left;padding: 5px;position: relative;left: -15px;top: -15px;">
                      <img src="../tools_images/<%=tool.name%>42.png" style="float: left;margin-right: 5px;" />
                    </div>
                  <% }else{ %>
                    <div style="float: left;padding: 5px;position: relative;left: -15px;top: -15px;">
                      <img src="../images/default_tool.png" />
                    </div>
                  <% } %>
                <% }else{ %>
                  <div style="float: left;padding: 5px;position: relative;left: -15px;top: -15px;">
                    <img src="../images/default_tool.png" />
                  </div>
                <% } %>
                <%if(tool.tool_url){%>
                
                  <% if(tool.dname !== undefined && tool.dname !== null) { %>
                    <%if(tool.tool_url !== '#'){%>
                      <a href="<%=tool.tool_url%>" target="_blank"><%=tool.dname%></a>
                    <% }else{ %>
                      <a href="#"><%=tool.dname%></a>
                    <% } %>
                  <% }else{ %>
                    <a href="<%=tool.tool_url%>" target="_blank"><%=tool.name%></a>
                  <% } %>
                  
                <% }else{ %>
                
                  <% if(tool.dname !== undefined && tool.dname !== null){ %>
                      <a><%=tool.dname%></a>
                  <% }else{ %>
                    <a><%=tool.name%></a>
                  <% } %>
                  
                <% } %>
                <div style="width: 60px;float: right;font-size: 11px;text-align: center;">
                  <div style="background-color: #F0D705;">Workload</div>
                  <div style="background-color: #7DC068;  color: white;">Backup</div>
                  <% if(tool.statistics){ %>
                    <% if(tool.statistics === 'true'){ %>
                     <div class="stats" style="-webkit-transform: rotate(90deg);transform:rotate(90deg);-ms-transform:rotate(90deg); cursor: pointer;width: 10px;text-align: center;margin: auto;" data-service="<%=tool.name%>" data-toggle="modal" data-target="#myModal">
                      <span>></span>
                    </div>
                    <% } %>
                  <% } %>
                </div>
                 <div style="background-color: #7DC068;height: 15px;width: 100%;position: absolute;bottom: 0;"></div>
                </div>
               
              </div>
              <% } %>
            <% }); %>
          <% } %>
          </div>
          
          <% if(defect_tracker !== undefined && defect_tracker !== null){ %>
          <div class="col-md-10 category" style="padding: 8px 15px;margin-bottom: 20px;list-style: none;background-color: #f5f5f5;border-radius: 4px;"><a>Defect tracker integrations</a></div>
          <div class="col-md-10">
            
              <% defect_tracker.forEach(function(df)  { %>
                <div class="col-sm-4">
                  <div style="width: 100%; height: 90px; margin-bottom:10px; border:1px solid #CCC; position: relative;">
                    <%if(df.icon){%>
                    <div style="float: left;padding: 5px;position: relative;left: -15px;top: -15px;">
                      <%var path_ico = '../tools_images/' + df.name + '42.png';%>
                      <img src="<%=path_ico%>" style="float: left;margin-right: 5px; height: 42px;" />
                    </div>
                    <% }else{ %>
                      <div style="float: left;padding: 5px;position: relative;left: -15px;top: -15px;">
                        <img src="../images/default_tool.png" />
                      </div>
                    <% } %>
                    <%if(df.tool_url){%>
                      <a href="<%=df.tool_url%>" target="_blank"><%=df.dname%></a>
                    <% }else{ %>
                      <a><%=df.dname%></a>
                    <% } %>
                    <div style="background-color: #7DC068;height: 15px;width: 100%;position: absolute;bottom: 0;"></div>
                  </div>
                </div>
              <% }); %>
          </div>
          <% } %>
          <% if(auth !== undefined && auth !== null){ %>
          <div class="col-md-10 category" style="padding: 8px 15px;margin-bottom: 20px;list-style: none;background-color: #f5f5f5;border-radius: 4px;"><a>Authentication provider</a></div>
          <div class="col-md-10">
          </div>
          <% } %>
        </div>
        <% if(projects){ %>
          <% if(projects == true || projects == 'true'){ %>
            <div class="tab-pane" id="b" style="max-height: 700px;height: 700px;"></div>
          <% } %>
        <% } %>
        <% if(users){ %>
          <% if(users == true || users == 'true'){ %>
            <div class="tab-pane" id="c" style="max-height: 700px;height: 700px;"></div>
          <% } %>
        <% } %>
        <div class="tab-pane" id="d" style="max-height: 700px;height: 700px;"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Service Stats</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  $(".stats").click(function(){
    var service = $(this).attr("data-service");
    $(".modal-body").load('../home/statics?service='+service);
  });
  $("#projects").click(function(){
    $("#b").load('../admin/projects');
  });
  $("#users").click(function(){
    $("#c").load('../admin/users');
  });
  $("#docs").click(function(){
    $("#d").load('../docs/index');
  });
});
</script>