<div id="container-tools" class="col-lg-10">
  <div class="row">
    <ul id="og-grid" class="og-grid">
      <% if(tools !== undefined && (tools instanceof Array)){ %>
        <% tools.forEach(function(tool){ %>
          <li>
            <% if(tool.status == 'online') { %>
            	<div class="tool-ops" style="width: 80px;float: right;">
            	  <%if(tool.tool_url !== '#'){%>
                  <div class="ops-home"><a href="<%=tool.tool_url%>" target="_blank">Home</a></div>
                <% }else{ %>
                  <div class="ops-home"><a href="<%=tool.tool_url%>">Home</a></div>
                <% } %>
                <div class="ops-workload ops-ok">Workload</div>
                <div class="ops-backup ops-warning">Backup</div>
              </div>
              <a class="tool-view" href="#" data-largesrc="/tools_images/tool_<%=tool.name%>.png" data-tool-dname="<%=tool.dname%>" data-tool="<%=tool.name%>">
						  <img src="/tools_images/tool_<%=tool.name%>.png" alt="<%=tool.name%>"/>
  					  </a>
  	          <%if(tool.settings_url !== '#'){%>
  	            <a class="tool-desc-name" href="<%=tool.settings_url%>" target="_blank" style="float: left;margin-top: -25px;margin-left: 10px;color: white;position: relative; width: auto !important; z-index: 100;"><%=tool.dname%></a>
  	          <% }else{ %>
  	            <a class="tool-desc-name" href="<%=tool.settings_url%>" style="float: left;margin-top: -25px;margin-left: 10px;color: white;position: relative; width: auto !important; z-index: 100;"><%=tool.dname%></a>
  	          <% } %>
  					  <span style="clear:both;"></span>
            <% } %>
            <% if(tool.status == 'offline') { %>
              <div class="tool-ops" style="width: 80px;float: right;">
            	  <%if(tool.tool_url !== '#'){%>
                  <div class="ops-home ops-offline"><a href="<%=tool.tool_url%>" target="_blank">Home</a></div>
                <% }else{ %>
                  <div class="ops-home ops-offline"><a href="<%=tool.tool_url%>">Home</a></div>
                <% } %>
                <div class="ops-workload ops-offline">Workload</div>
                <div class="ops-backup ops-offline">Backup</div>
              </div>
              <a class="tool-view ops-offline" href="#" data-largesrc="/tools_images/tool_<%=tool.name%>.png" data-tool-dname="<%=tool.dname%>" data-tool="<%=tool.name%>">
						  <img src="/tools_images/tool_<%=tool.name%>.png" alt="<%=tool.name%>"/>
  					  </a>
  	          <%if(tool.settings_url !== '#'){%>
  	            <a class="tool-desc-name ops-offline" href="<%=tool.settings_url%>" target="_blank" style="float: left;margin-top: -25px;margin-left: 10px;color: white;position: relative; width: auto !important; z-index: 100;"><%=tool.dname%></a>
  	          <% }else{ %>
  	            <a class="tool-desc-name ops-offline" href="<%=tool.settings_url%>" style="float: left;margin-top: -25px;margin-left: 10px;color: white;position: relative; width: auto !important; z-index: 100;"><%=tool.dname%></a>
  	          <% } %>
  					  <span style="clear:both;"></span>
            <% } %>
          </li>
        <% }); %>
      <% } %>
		</ul>
  </div>
</div>
<div class="col-lg-2 right-menu">
  <h4>Console</h4>
  <div class="row">
    <div class="row" style="margin: 0;margin-top: 10px;">
      <div class="row" style="margin: 0;">
        <h5 class="monitoring-option arrow-up"><span class="status-monitoring check-icon"></span>System Workload</h5>
      </div>
      <div class="row monitoring-contents">
        <div class="row" style="margin: 0; margin-bottom: 10px; position: relative;">
          <div class="col-md-12">
            <canvas id="cpu" width="75" height="75" data-current="90" style="float: left;"></canvas>
            <span class="stats-text">CPU Usage</span>
          </div>
        </div>
        <div class="row" style="margin: 0; margin-bottom: 10px; position: relative;">
          <div class="col-md-12">
            <canvas id="mem" width="75" height="75" data-current="65" style="float: left;"></canvas>
            <span class="stats-text">Memory Usage</span>
          </div>
        </div>
        <div class="row" style="margin: 0; margin-bottom: 10px; position: relative;">
          <div class="col-md-12">
            <canvas id="disk" width="75" height="75" data-current="30" style="float: left;"></canvas>
            <span class="stats-text">Disk Usage</span>
          </div>
        </div>
      </div>
    </div>
    <% if(req.session.is_admin){ %>
      <div class="row" style="margin: 0;margin-top: 10px;">
        <div class="row" style="margin: 0;padding-top: 10px;">
          <% if(req.session.kit_registered.registered){ %>
            <h5 id="h5-registration" class="monitoring-option arrow-down"><span class="status-monitoring check-icon"></span>Registration</h5>
          <% } %>
          <% if(req.session.kit_registered.registered == false && req.session.kit_registered.error == null){ %>
            <h5 id="h5-registration" class="monitoring-option arrow-down"><span class="status-monitoring error-icon"></span>Registration</h5>
          <% } %>
          <% if(req.session.kit_registered.registered == false && req.session.kit_registered.error !== null){ %>
            <h5 id="h5-registration" class="monitoring-option arrow-down"><span class="status-monitoring check-icon"></span>Registration</h5>
          <% } %>
        </div>
        <div class="row monitoring-contents" style="display:none;">
          <% if(req.session.kit_registered.registered ){ %>
            <p style="color: #797979;padding-left: 17px;">Your forge is already registered</p>
          <% } %>
          <% if(req.session.kit_registered.registered == false && req.session.kit_registered.error == null){ %>
            <div class="col-md-12">
              <div class="row" style="padding-left: 25px;padding-top: 15px;">
                <input type="text" id="name" placeholder="Name" style="outline: 0;border: 1px solid #CCC;padding: 5px; margin-right: 5px;color: #797979;" />
                <div id="register-btn" style="padding: 7px;background-color: #0096d6;font-size: 13px;display: inline-block; cursor:pointer;color: #FFFFFF; text-decoration: none;vertical-align: top;">
                  <span>Register</span>
                </div>
              </div>
              <div class="row" style="padding-top: 15px;text-align: center;">
                <span id="validator-label" style="color: #797979; display: none;">This should take a few seconds..</span>
                <div class="register-bar" style="display:none;">
                  <div class="bar" style="width: 0%;">
                  </div>
                </div>
                <span id="status-label" style="color: #797979; display:none;">Registering...</span>
              </div>
              <script>
                $(document).ready(function(){
                  $('#register-btn').click(function(){
                    var name = $("#name").val();
                    if(name.length === 0){
                      $("#validator-label").fadeOut(500, function(){
                        $(this).text('Please provide your name.');
                      }).fadeIn(500);
                    }else{
                      $('#validator-label').fadeOut(500, function(){
                        $(this).text('This should take a few seconds..');
                      }).fadeIn(500);
                      $('.register-bar').fadeIn(500);
                      $('.status-label').fadeIn(500, function(){
                        $('.bar').css('width', '50%');
                      });
                      socket.get('/kitops/do_register', {
                        name: name
                      }, function(response) {
                          if(response.success == 'failed'){
                            $("#validator-label").fadeOut(500, function(){
                              $(this).css({'color':'#E16138'});
                              $('.bar').css('color', '#E16138');
                              $(this).text('Kit Registration Failed');
                            }).fadeIn(500);
                          }
                          if(response.success == 'success'){
                            $('#status-label').fadeOut(500, function(){
                              $('.bar').css('width', '100%');
                              $(this).text('Done!');
                              $('#h5-registration span').removeClass('error-icon');
                              $('#h5-registration span').addClass('check-icon');
                              $('#name').remove();
                              $('#register-btn').remove();
                            }).fadeIn(500);
                          }
                      });
                    }
                  })
                });
              </script>
            </div>
          <% } %>
          <% if(req.session.kit_registered.registered == false && req.session.kit_registered.error !== null){ %>
            <p style="color: #797979;padding-left: 17px;">We were unable to check if your forge is registered.</p>
          <% } %>
        </div>
      </div>
      <div>
    <% } %>
    </div>
  </div>
  
</div>
<script src="../js/grid.js"></script>
<script>
  $(document).ready(function(){
    
    Grid.init();
    
    progress('cpu', 90, 'new');
    progress('mem', 65, 'new');
    progress('disk', 30, 'new');
    
    $('.monitoring-option').click(function () {
      $option = $(this);
      $content = $option.parent().next();
      if($content.is(":visible")){
        $option.removeClass('arrow-up');
        $option.addClass('arrow-down');
      }else{
        $option.removeClass('arrow-down');
        $option.addClass('arrow-up');
      }
      $content.slideToggle(500);

  });
  });
</script>