<style>
#tbody {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
}

#tbody html {
    width: 100%;
    height: 100%;
}

#tbody h1,
#tbody h2,
#tbody h3,
#tbody h4,
#tbody h5,
#tbody h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

#tbody p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

#tbody a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#tbody a:hover,
#tbody a:focus {
    text-decoration: none;
    color: #176e61;
}

#tbody .light {
    font-weight: 400;
}

#tbody .navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

#tbody .navbar-brand {
    font-weight: 700;
}

#tbody .navbar-brand:focus {
    outline: 0;
}

#tbody .navbar-custom a {
    color: #fff;
}

#tbody .navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

#tbody .navbar-custom .nav li a:hover,
#tbody .navbar-custom .nav li a:focus,
#tbody .navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

#tbody .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

#tbody .navbar-toggle:focus,
#tbody .navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    #tbody .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    #tbody .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    #tbody .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

#tbody .intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../tuto/img/intro-bg-redstone.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#tbody .intro-body {
    display: table-cell;
    vertical-align: middle;
}

#tbody .brand-heading {
    font-size: 40px;
}

#tbody .intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    #tbody .intro {
        height: 100%;
        padding: 0;
    }

    #tbody .brand-heading {
        font-size: 100px;
    }

    #tbody .intro-text {
        font-size: 25px;
    }
}

#tbody .btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

#tbody .btn-circle:hover,
#tbody .btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

#tbody .page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

#tbody .page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

#tbody pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
#tbody pre {
    padding: 0.1em 0.5em 0.3em 0.7em;
    border-left: 11px solid #ccc;
    margin: 1.7em 0 1.7em 0.3em;
    overflow: auto;
    text-align: left;

    }
/* target IE7 and IE6 */
#tbody *:first-child+html pre {
    padding-bottom: 2em;
    overflow-y: hidden;
    overflow: visible;
    overflow-x: auto;
    }
#tbody * html pre {
    padding-bottom: 2em;
    overflow: visible;
    overflow-x: auto;
    }


#tbody .light-section {
    background-color: #444;
    padding-top: 50px;
}

#tbody .dark-section {
    background-color: #222;
    padding-top: 50px;
}

#tbody .download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../tuto/img/content-bg-cloud1.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


@media(min-width:767px) {
    #tbody .download-section {
        padding: 150px 0;
    }

}

#tbody .btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#tbody .btn-default {
    border: 1px solid #28c3ab;
    color: #28c3ab;
    background-color: transparent;
}

#tbody .btn-default:hover,
#tbody .btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

#tbody .btn-huge {
    padding: 25px;
    font-size: 26px;
}

#tbody .banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    #tbody ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    #tbody ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    #tbody ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}

#tbody body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}
</style>
<!-- Bootstrap Core CSS -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<div id="tbody" data-spy="scroll" data-target=".navbar-custom">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="http://www.forj.io">
                    <i class="fa fa-external-link"></i>  Forj.io
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#top">Intro</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#setup"><i class="fa fa-cog"></i> Setup</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#code"><i class="fa fa-code"></i> Code</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#test"><i class="fa fa-check-square-o"></i> Test</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#review"><i class="fa fa-eye"></i> Review</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#end">More...</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section class="intro" id="top">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Redstone</h1>
                        <p class="intro-text">Continuous integration at scale</p>
                        <div class="page-scroll">
                            <a href="#about" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="content-section text-center">
        <div class="dark-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About this tutorial</h2>
                    <p>We'll walk you through the modification of an "hello world" Python tutorial.</p>
                    <p>You will go hands on and modify the code before pushing it to <a href="http://ci.openstack.org/gerrit.html">Gerrit</a> for review, see <a href="http://ci.openstack.org/zuul.html">Zuul</a> and <a href="http://ci.openstack.org/jenkins.html">Jenkins</a> pass your changes through a Python lint checker to give you confidence that your changes are fine, and finally approve the changes (peer review) for inclusion in the master development branch.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="setup" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Setting up</h2>
                    <p>The first thing we need is a GIT client.
                    <p>
                        <a href="http://git-scm.com/download/mac" class="btn btn-default btn-lg"><i class="fa fa-cloud-download"></i> Download git for OSX</a>
                    </p>
                    <p>
                        <a href="http://git-scm.com/download/win" class="btn btn-default btn-lg"><i class="fa fa-cloud-download"></i> Download git for Windows</a>
                    </p>
                    <p>
                        <a href="http://git-scm.com/download/linux" class="btn btn-default btn-lg"><i class="fa fa-cloud-download"></i> Download git for Linux</a>
                    </p>
                    <p>After downloading and installing git, open a terminal (open <code>git bash</code> on windows).</p>
                </div>
            </div>
        </div>
    </section>

    <section id="setup-2" class="content-section text-center">
        <div class="light-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Configure ssh</h2>
                    <p>Let's configure the ssh connectivity to gerrit, so that we can download code and submit it for review.</p>
                    <p>On Windows, download <code><a href="http://users.ugent.be/~bpuype/cgi-bin/fetch.pl?dl=wget/wget-1.10.2.exe">wget.exe</a></code> to your "Downloads" folder. Make sure that you replace each <code>wget</code> below by <code>~/Downloads/wget</code>.</p>
                    <pre>mkdir .ssh
wget --no-check-certificate https://raw.githubusercontent.com/forj/tutorials/master/keys/demo_keys -O ~/.ssh/demo_keys</pre>
                    <p>Or behind a web proxy:</p>
                    <pre>wget --no-check-certificate -e use_proxy=yes -e https_proxy=https://&lt;web-proxy&gt;:8080 https://raw.githubusercontent.com/forj/tutorials/master/keys/demo_keys -O ~/.ssh/demo_keys</pre>
                    <p>You now have a <samp>demo_keys</samp> file in your <samp>home/.ssh</samp> directory (<samp>$HOME</samp> on Linux, <samp>%HOMEPATH%</samp> on Windows). This is used to authenticate with the Gerrit server.</p>
                    <p>Let's modify the permissions of this file for linux systems:</p>
                    <pre>chmod 600 ~/.ssh/demo_keys</pre>
                    <p>If you access Gerrit with a web proxy, install the <code>connect-proxy</code> utility (linux only: already included with Windows msysgit):</p>
                    <pre>sudo apt-get install connect-proxy</pre>
                    <p>Create a "config" file with your favorite text editor (you might need to make hidden files visible)</p>
                    <pre>vi ~/.ssh/config</pre>
                    <p>or</p>
                    <pre>notepad ~/.ssh/config</pre>
                    <p>Add these lines to the "config" file (note that the file doesn't have an extension such as .txt)</p>
                    <pre>Host review
  Hostname <%=gerrit_ip%>
  User demouser
  Port 29418
  identityfile ~/.ssh/demo_keys
  #ProxyCommand connect -H web-proxy:8080 %h %p</pre>
                    <p>If Gerrit is behind a web proxy, remove the <code>#</code> at the beginning of the <code>ProxyCommand</code> line and replace <samp>web-proxy:8080</samp> with your web proxy address and port.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="setup-3" class="content-section text-center">
        <div class="dark-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Checkout the tutorial repository</h2>
                    <p>Create a working copy of the Tutorial repository by running the command:</p>
                    <pre>git clone ssh://review:29418/tutorials.git</pre>
                    <p>This will download the code locally on the folder you are in so that you can edit it.</p>
                    <p>You actually get all the history and metadata of the code: this is great to work completely disconnected from the remote repository. Here is how to check the log and see details on a specific log entry:</p>
                    <pre>cd  tutorials
git log
git show 6687e07c859e2d3ff6136a5745d8932fe441a60a</pre>
                </div>
            </div>
        </div>
    </section>

    <section id="setup-4" class="content-section text-center">
        <div class="light-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Configure the repository to work with Gerrit</h2>
                    <p>The Redstone workflow requires code to be reviewed at several stages using Gerrit. Let's prepare to take advantage of Gerrit and commit to the
            <a href="https://review.openstack.org/Documentation/intro-quick.html#_creating_the_review">magic branch</a><br>
                    <pre>git config remote.origin.push 'refs/heads/*:refs/for/*'</pre>
                    <p>Install the commit hook which automatically generates unique Change-Ids in commit messages for Gerrit</p>
                    <pre>wget --no-check-certificate https://<%=gerrit_ip%>/tools/hooks/commit-msg -O .git/hooks/commit-msg</pre>
                    <p>If you are behind a proxy:</p>
                    <pre>wget --no-check-certificate -e use_proxy=yes -e https_proxy=https://web-proxy:8080  https://<%=gerrit_ip%>/tools/hooks/commit-msg -O .git/hooks/commit-msg</pre>
                    <p>Finalize the configuration by making the commit hook executable and setup the email address</p>
                    <pre>chmod u+x .git/hooks/commit-msg
git config user.email "demouser@localhost"</pre>
                </div>
            </div>
        </div>
    </section>

    <section id="code" class="content-section text-center">
        <div class="dark-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Code!</h2>
                    <p>We did the hard part: now is the fun part! Modify the file at <code>/path/to/repository/tutorials/openstack/helloworld.py</code> and change any text you want.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="code-2" class="content-section text-center">
        <div class="light-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Add the code in GIT</h2>
                    <p>List your changes with</p>
                    <pre>git status</pre>
                    <p>Now, add the changes in your local repository:</p>
                    <pre>git add openstack/helloworld.py</pre>
                    <p>To actually commit, do:</p>
                    <pre>git commit -m "Changed text on helloworld.py"</pre>
                    <p>Now the file is committed to the <b>local</b> repository, but not in the <b>remote</b> repository yet.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="code-3" class="content-section text-center">
        <div class="dark-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Submit the code for review</h2>
                    <p>We now want our changes to be tested and reviewed. You do this with</p>
                    <pre>git push</pre>
                    <p>The changes are now ready for review.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="test" class="content-section text-center">
        <div class="light-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Zuul: check pipeline</h2>
                    <p>The change goes through Zuul's <i>check</i> pipeline which verifies automatically any change. If the check fails, the change is down-voted (Jenkins votes with a -1).</p>
                    <p>Open Zuul interface to see the pipelines and the change as it goes through Zuul:
 <a href="http://<%=zuul_ip%>/" target="_blank">http://<%=zuul_ip%></a></p>
                    <img src="../tuto/img/zuul.1.jpg" alt="">
                    <p>The demo project is configured with a python lint check using <a href="https://flake8.readthedocs.org/en/2.0/">Flake8</a>.</p>
                    <p>Zuul can do that at scale, with many changes submitted and under test in parallel. See <a href="http://ci.openstack.org/zuul/gating.html">Zuul's documentation</a> for more details.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="review" class="content-section text-center">
        <div class="dark-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Review the change</h2>
                    <p>Go to Gerrit to open your change: <a href="https://<%=gerrit_ip%>//" target="_blank">https://<%=gerrit_ip%>/</a></p>
                    <p>The change needs to be "Verified", "Code-Review" and "Approved" (the "Need" lines). Verifying is checking that the code actually compiles, unit tests pass etc. Verification is done by Jenkins jobs configured in the "check" Zuul pipeline. The check is automated and adds a +1 under "Verified". Yes, a robot just did that for you.</p>
                    <img src="../tuto/img/gerrit.1.jpg" alt="">

                </div>
            </div>
        </div>
    </section>

    <section id="code-6" class="content-section text-center">
        <div class="light-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Accept the change</h2>
                    <p>As a reviewer, look at the code, comment it and make yourself an opinion about the change.</p>
                    <p>Now click on the <a class="btn btn-default btn-sm">Review</a> button. Voting +1 or -1 provides an opinion. -2 rejects the change and +2 accepts it.</p>
                    <p>Go ahead: vote +2 for this example, add your comment and click on <a class="btn btn-default btn-sm">Publish and Submit</a>. The code gets merged and is now visible to all.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="code-7" class="content-section text-center">
        <div class="dark-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Zuul "gate" pipeline</h2>
                    <p>Once a reviewer approved the changes, Zuul is configured to make the change go through the <i>gate</i> pipeline. Jenkins reports the results of these tests back to Gerrit in the form of a Verified: +/-2 vote.</p>
                    <p>See <a href="http://docs.forj.io/en/latest/user/kits/redstone.html#adding-a-new-jenkins-job-and-configure-zuul-for-a-given-project-in-gerrit">the documentation</a> to customize Zuul gates and jobs to run based on Gerrit events.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="end" class="content-section text-center">
        <div class="light-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>What's next?</h2>
                    <p>You just learned the basics of the Redstone blueprint. With Redstone, you get a very powerful process which is designed to automatically test changes as they arrive, easily enable peer reviews and cherry pick which change you want, as a reviewer, to accept in your code base.</p>
                    <p>Here is a number of links you want to consult for more information:</p>
                    <p><a href="http://docs.forj.io/en/latest/user/kits/redstone.html">Redstone documentation</a><br/>
                    <a href="https://wiki.openstack.org/wiki/Documentation/HowTo#How_to_amend_a_review-in-progress">Amend a review in progress</a><br/>
                    <a href="https://wiki.openstack.org/wiki/GerritJenkinsGit#Test_Failures">Handling test failures</a><br/>
                    <a href="https://wiki.openstack.org/wiki/Documentation/HowTo#How_to_a_cherry-pick_a_change_to_a_stable_branch">Cherry-pick a change from a branch to another</a><br/>
                    <a href="http://ci.openstack.org/zuul/gating.html">Zuul: project gating</a><br/>
                    <a href="http://ci.openstack.org/third_party.html">Enabling 3rd party testing</a>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
        //jQuery to collapse the navbar on scroll
        $(window).scroll(function() {
            if ($(".navbar").offset().top > 50) {
                $(".navbar-fixed-top").addClass("top-nav-collapse");
            } else {
                $(".navbar-fixed-top").removeClass("top-nav-collapse");
            }
        });

        //jQuery for page scrolling feature - requires jQuery Easing plugin
        $(function() {
            $('.page-scroll a').bind('click', function(event) {
                var $anchor = $(this);
                $('html, body').stop().animate({
                    scrollTop: $($anchor.attr('href')).offset().top
                }, 1500, 'easeInOutExpo');
                event.preventDefault();
            });
        });
    </script>
</div>
