<div style="text-align: left;">
  <h4 class="help-title">Help</h4>
  <h3 class="help-h3">Get Started</h3>
  <div>
      <% if(documentation !== undefined && documentation !== null){ %>
        <% documentation.forEach(function(doc){ %>
          <% if(doc.category == 'tutorial'){ %>
            <%if(doc.url === '#'){%>
                <a style="display: block;font-size: 13px;"><%=doc.dname%> [N/A]</a>
            <% }else{ %>
                <a href="<%=doc.url%>" target="_blank" style="display: block;font-size: 13px;"><%=doc.dname%></a>
            <% } %>
          <% } %>
        <% }); %>
      <% } %>
  </div>
  <h3 class="help-h3">Community</h3>
  <div>
      <% if(documentation !== undefined && documentation !== null){ %>
        <% documentation.forEach(function(doc){ %>
          <% if(doc.category == 'community'){ %>
            <%if(doc.url === '#'){%>
              <a style="display: block;font-size: 13px;"><%=doc.dname%> [N/A]</a>
            <% }else{ %>
              <a href="<%=doc.url%>" target="_blank" style="display: block;font-size: 13px;"><%=doc.dname%></a>
            <% } %>
          <% } %>
        <% }); %>
      <% } %>
  </div>
  <h3 class="help-h3">FAQ</h3>
  <div>
      <% if(documentation !== undefined && documentation !== null){ %>
        <% documentation.forEach(function(doc){ %>
          <% if(doc.category == 'faq'){ %>
            <%if(doc.url === '#'){%>
              <a style="display: block;font-size: 13px;"><%=doc.dname%> [N/A]</a>
            <% }else{ %>
              <a href="<%=doc.url%>" target="_blank" style="display: block;font-size: 13px;"><%=doc.dname%></a>
            <% } %>
          <% } %>
        <% }); %>
      <% } %>
  </div>
</div>