<!DOCTYPE html>
<html ng-app="forjApp">
<head>
  <!--
  (c) Copyright 2014 Hewlett-Packard Development Company, L.P.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
  <title><%- sails.config.appName %></title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <!--STYLES-->
  <link rel="stylesheet" href="/linker/styles/backup.css">
  <link rel="stylesheet" href="/linker/styles/bootstrap-theme.css">
  <link rel="stylesheet" href="/linker/styles/bootstrap.css">
  <link rel="stylesheet" href="/linker/styles/component.css">
  <link rel="stylesheet" href="/linker/styles/project-list.css">
  <link rel="stylesheet" href="/linker/styles/site.css">
  <link rel="stylesheet" href="/linker/styles/vtabs.css">
  <!--STYLES END-->

  <script type="text/javascript">
  // Global variables
  var NOTIFICATIONS_UPDATE_DELAY = <%=sails.config.env.NOTIFICATIONS_UPDATE_DELAY%>;
  </script>

  <script src="/js/angular.v1.3.10.min.js"></script>
  <script src="/js/angular-animate.v1.3.10.min.js"></script>
  <!--SCRIPTS-->
  <script src="/linker/js/socket.io.js"></script>
  <script src="/linker/js/sails.io.js"></script>
  <script src="/linker/js/app.js"></script>
  <script src="/linker/js/modernizr.custom.js"></script>
  <script src="/linker/js/jquery.1.9.1.min.js"></script>
  <script src="/linker/js/bootstrap.js"></script>
  <script src="/linker/js/bootstrap.min.js"></script>
  <script src="/linker/js/dropdown.js"></script>
  <script src="/linker/js/modal.js"></script>
  <script src="/linker/js/progress_bar.js"></script>
  <script src="/linker/js/tab.js"></script>
  <script src="/linker/js/header_utils.js"></script>
  <!--SCRIPTS END-->


</head>

<body>
  <section class="container-fluid">
    <div id="header" class="row" ng-controller="headerController">
      <div class="header-logo">
        <div class="forj-log"></div>
        <% if(req.session.blueprint_name){ %>
          <h5 class="hidden-xs"><%=req.session.blueprint_name%> Forj</h5>
          <% }else {%>
            <h5 class="hidden-xs">Forj Setup In Progress</h5>
            <% } %>
          </div>
          <div class="header-options">
            <ul class="options">
              <% if(req.session.email){ %>
                <li>
                  <div class="notifications" data-ng-click="notificationClick()">
                    <span class="badge count" data-ng-hide="notifications.length < 1" data-new-notification-bounce>{{ notifications.length }}</span>
                  </div>
                  <div class="notifications-show hide" data-show-panel-anim="showNotificationsPanel">
                    <div class="notifications-viewport">
                      <div class="notifications-wrapper container-fluid">
                        <h4 data-ng-hide="notifications.length > 0" style="text-align: center;">You don't have notifications</h4>
                        <div class="notification-msg row container-fluid" data-ng-repeat="notification in notifications | orderBy: message.time_stamp">
                          <div class="row">
                            <span class="col-xs-2 text-left">
                              <span class="glyphicon glyphicon-exclamation-sign critical" title="Critical!" data-ng-show="notification.message.log.level === 'critical'"></span>
                              <span class="glyphicon glyphicon-alert warning" title="Warning" data-ng-show="notification.message.log.level === 'warning'"></span>
                            </span>
                            <span class="notification-date col-xs-10 text-right">{{ notification.message.time_stamp | date: 'medium'}}</span>
                          </div>
                          <div class="row">
                            <span class="notification-title col-xs-10">{{ notification.message.action.ctx_data.name }}</span>
                            <span class="col-xs-2 text-center">
                              <span class="glyphicon glyphicon-trash notification-dismiss" title="Dismiss notification" data-ng-click="removeNotification(notification)"></span>
                            </span>
                          </div>
                          <div class="row">
                            <p class="notification-description col-xs-12">{{ notification.message.action.ctx_data.description }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <% } %>
                <li><div class="help">?</div></li>
                <span style="clear:both;"></span>
              </ul>
              <% if(req.session.email){ %>
                <% if(req.session.has_gravatar){ %>
                  <div class="gravatar" style="background-image: url('http://www.gravatar.com/avatar/<%=req.session.gravatar_hash%>?s=55')"></div>
                  <% }else{ %>
                    <div class="gravatar guest"></div>
                    <% } %>
                    <% }else{ %>
                      <div class="gravatar guest"></div>
                      <% } %>
                    </div>
                  </div>
    <div id="menu" class="row">

      <div id="navcontainer">
        <ul id="navlist">
          <li id="li-home" class="active"><a href="#">Home</a></li>
        <% if(req.session.projects && req.session.project_visibility){ %>
          <li id="li-projects"><a href="#">Projects</a></li>
        <% } %>
        <% if(req.session.users && req.session.is_admin){ %>
          <li id="li-users"><a href="#">Users</a></li>
        <% } %>
        </ul>
      </div>

      </div>
      <div id="body" class="row">
        <%- body %>
      </div>
    </section>
    <footer>
    </footer>
  </body>
</html>
